{% extends 'base.html' %}
{% block content %}
<div class="w3-container w3-padding-64">
  <h2>Manage Guests</h2>
  <form method="POST">
    <input type="text" name="name" placeholder="Name" class="w3-input w3-border" required>
    <input type="text" name="contact" placeholder="Contact" class="w3-input w3-border">
    <input type="text" name="id_proof" placeholder="ID Proof" class="w3-input w3-border">
    <input type="text" name="preferences" placeholder="Preferences" class="w3-input w3-border">
    <button type="submit" class="w3-button w3-teal w3-margin-top">Add Guest</button>
  </form>
  

   <table class="w3-table w3-striped w3-bordered">
    <tr>
      <th>Guest ID</th>
      <th>Guest Name</th>
      <th>Contact</th>
      <th>ID Proof</th>
      <td>Preferences</td>
    </tr>
    {% for r in guests %}
    <tr>
      <td>{{r[0]}}</td>
      <td>{{r[1]}}</td>
      <td>{{r[2]}}</td>
      <td>{{r[3]}}</td>
      <td>{{r[4]}}</td>
      <td>
        <form method="POST" style="display:inline">
          <input type="hidden" name="delete_id" value="{{ r[0] }}">
          <button type="submit" class="w3-button w3-red w3-small">Delete</button>
        </form>
      </td>
    </tr>

  {% endfor %}
  </table>
</div>
{% endblock %}